language: node_js
sudo: false
node_js:
  - "7.0"
  - "6.0"
  - "5.0"
  - "4.0"
  - "0.12"
  - "0.10"
notifications:
  email:
    on_success: "never"
script:
  - "npm run cover"
  - "npm run coveralls"
